:root {
    --bg-color: #222;
    --fg-color: #ddd;
    --font-stack: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --border: 1px solid #777;
    --letter-box-size: 70px;
    --exact-bg: #083;
    --inexact-bg: #560;

    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font-stack);
    box-sizing: border-box;
    font-size: 34px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grid-row:first-child .outer {
    border-top: var(--border);
}
.wpp-row .outer {
    border-top: var(--border);
}

/* based on latest boostrap's mixin */
.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;

  &:not(caption) {
    position: absolute !important;
  }

  * {
    overflow: hidden !important;
  }
}
